<h1>Blogs</h1>
<% if current_user %>
	<%= link_to "New Blog", new_blog_path, :class => 'btn btn-success' %>
<% else %>
	<span class="text-white"><%= link_to "Sign In", new_session_path, :class => 'text-white', :style => "text-decoration: underline;" %> or <%= link_to "Register", new_user_path, :class => 'text-white', :style => "text-decoration: underline;" %> to</span><br>
	<button class="btn btn-success" disabled> New Blog </button>
<% end %>
<% @blogs.each do |blog| %>
	<div style="padding-top: 15px;">
		<div class="card bg-dark text-white" style="padding: 10px; border-radius: 25px;">
		  <div class="card-header">
		    <%=blog.title %>
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <span class="d-inline-block" style="font-style: italic;"><%=blog.quote_text%></span>
		      <footer class="blockquote-footer text-white"><cite title="Source Title"><%=blog.created_by%></cite></footer>
		    </blockquote>
		    <%= link_to "Read More...", blog_path(blog), :class => 'btn btn-dark text-primary', :style => 'font-style: italic' %>
		  </div>
		</div>
	</div>
<%end%>