<div class="bg-dark text-white" style="padding: 20px; border-radius: 25px;">
<h1>Add Blog</h1>
	<%= form_for :blog, url: blogs_path do |f| %>
		<% if @blog.errors.any? %>
			<% @blog.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger"><%= msg %></div>
			<% end %>
		<% end %>

		<p>
			<%= f.label :title %> <br>
			<%= f.text_field(:title, {:class => 'form-control'}) %>
		</p>

		<p>
			<%= f.label :body %> <br>
			<%= f.text_area(:body, {:class => 'form-control'}) %>
		</p>

		<p>
			<%= f.label :quote_text %> <br>
			<%= f.text_field(:quote_text, {:class => 'form-control'}) %>
		</p>

		<p>
			<%= f.submit({:class => 'btn btn-secondary'})%>
		</p>


	    <%= link_to "Back", home_path, :class => 'btn btn-dark' %>


	<%end %>
</div>