<div class="card bg-dark text-white" style="padding: 20px; border-radius: 25px;">
  <div class="card-body">
    <h1 class="card-title"><%= @blog.title %></h1>
    <h6 class="card-subtitle mb-2 text-white">By: <%= @blog.created_by %></h6>
    <p class="card-subtitle mb-2 text-white">Posted: <%= localize(@blog.created_at, :format => :short) %></p>
    <h4 class="card-text"><%= @blog.body %></h4>
    <%= link_to "Back", home_path, :class => 'btn btn-dark text-primary' %>
  </div>
</div>