<div class="container">
	<div style="text-align: center;">
		<% if current_user %>
			<h1>Welcome to Blogs & Articles</h1>
		<% else %>
			<h1>Welcome to Blogs & Articles</h1>
			<h6><a><%= link_to "Create", new_user_path, style: "color: white; font-style: italic; font-weight: bold; text-decoration: underline;" %></a> an account or <a><%= link_to "Login", new_session_path, style: "color: white; font-style: italic; font-weight: bold; text-decoration: underline;" %></a></h6>
		<% end %>
	</div>
	<div class="col" style="text-align: center;">
		<div class="row" style="padding-left: 100px;">
			<div style="padding: 25px; max-height: 400px">
				<div class="card text-white bg-dark mb-3" style="width: 400px;">
		  			<%= link_to image_tag("blogs.png", :alt => "blogs", :class => "card-img-top"), blogs_path %>
		  			<div class="card-body">
	            		<a role="button" ><%= link_to "Blogs", blogs_path %></a> 
		  			</div>
				</div>
			</div>
			<div style="padding: 25px; min-height: 400px">
				<div class="card text-white bg-dark mb-3" style="width: 400px;">
		  			<%= link_to image_tag("articles.png", :alt => "articles", :class => "card-img-top"), articles_path %>
		  			<div class="card-body">	
	            		<a role="button" ><%= link_to "Articles", blogs_path %></a> 
		  			</div>
				</div>
			</div>
		</div>
	</div>
</div>