<!DOCTYPE html>
<html>
  <head>
    <title>Blogandarticle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary text-white">

    <nav class="navbar navbar-inverse navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
        <%= link_to 'BLOGS & ARTICLES', home_path%>
        <ul class="nav navbar-nav list-group list-group-horizontal">
          <li class="nav-item active">
            <button class="btn"><%= link_to "Blogs", blogs_path %></button> 
          </li>
          <li class="nav-item active">
            <button class="btn"><%= link_to "Articles", home_path %></button> 
          </li>
        </ul>
        </div>
        <div>
          <br>
          <ul class="nav navbar-nav navbar-right list-group list-group-horizontal">
            <% if current_user %>
              <li class="nav-link active">
                Hello, <%= current_user.username %>
              </li>
              <li class="nav-item active">
                <button class="btn"><%= link_to "Sign Out", session_path('active'), method: :delete %></button>
              </li>
            <% else %>
              <li class="nav-item active">
                <button class="btn"><%= link_to "Sign In", new_session_path %></button>
              </li>
              <li>
                <button class="btn"><%= link_to "Register", new_user_path %></button> 
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row mx-md-n5">
      <div div class="col px-md-5">
        <div class="p-3">
          <% flash.each do |type, msg| %>
            <% if type == 'alert' %>
              <div class="container">
                <div class="alert alert-danger">
                  <%= msg %>
                </div>
              </div>
            <% else %>
              <div class="container">
                <div class="alert alert-success">
                  <%= msg %>
                </div>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>


  </body>
</html>
